html {
  background: url("./images/tableBackground.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.column {
    float: left;
    width: 33.33%;
    height: 100%;
}

/* Clear floats after the columns */
/*.row:after {
    content: "";
    display: table;
    clear: both;
}*/

.moves {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}


h1 {
  display: flex;
  justify-content: center;
  color: yellow;
}

h2 {
  color: red;
  display: flex;
  justify-content: center;
}

h3 {
  color: red;
  display: flex;
  justify-content: center;
}

h4 {
  color: red;
  margin: 10px;
}

.db {
  background-color: #008CBA;
  border-radius: 35%;
  font-size: 20px;
  padding: 10px 24px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.move-button {
  background-color: yellow;
  border-radius: 35%;
  font-size: 20px;
  margin: 20px;
}

.bet-button {
  background-color: purple;
  padding: 10px 24px;
  border-radius: 40%;
  font-size: 20px;
  margin: 20px;
}

.betting {
 display: flex;
 justify-content: center;
 flex-direction: row;

}

.deal-button  {
  display: flex;
  justify-content: center;
}
.stay-button  {
  display: flex;
  justify-content: center;
}
.hit-button  {
  display: flex;
  justify-content: center;
}

.bet-increase {
  display: flex;
  justify-content: center;
}

.bet-decrease {
  display: flex;
  justify-content: center;
}

.chip-refill {
  display: flex;
  justify-content: center;
}

.bottom {
  margin-bottom: auto;
}

.player-cards {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.dealer-cards {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.chip {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.fish {
    float: left;
    width: 70px;
    height: 70px;
    margin: 10px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.2);
    -moz-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.2);
    -webkit-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.2);
    border: 10px dotted #fff;
}

div.fish div {
    font-family: Verdana;
    text-align: center;
    line-height: 70px;
    font-size: .9em;
	color:#fff;
	text-shadow: 0.1em 0.2em 0.07em rgb(82, 82, 82);
}

div.red { background: rgb(175, 17, 36) }
