html {
  background: url("./images/tableBackground.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {

  /*background-image: url("./images/blackjack-table.jpg");*/

}

/*h1 {
  display: flex;
  justify-content: center;
  color: yellow;
}

h2 {
  color: red;
  display: flex;
  justify-content: center;
}

h3 {
  color: red;
  display: flex;
  justify-content: center;
}*/

/*.deal-button  {
  display: flex;
  justify-content: center;
}
.stay-button  {
  display: flex;
  justify-content: center;
}
.hit-button  {
  display: flex;
  justify-content: center;
}*/

.player-cards {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
}

.dealer-cards {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
}

.discard-pile {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.discard {
  display: flex;
  flex-direction: column;
  justify-content: left;
}


.game {
  display: flex;
}

.discard {
  flex: 1;
}

.hands {
  flex: 1;
}
