// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  background: url("./login.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.email {
  padding: 15px;
  font-size: 20px;
}

.password {
  padding: 15px;
  font-size: 20px;
}

.link1{
  padding: 15px;
}
.link2{
  padding: 15px;
}



.login {
  border-style: groove;
  border-width: 10px;
  border-color: green;
  background-color: white;
  height:300px;
  width:300px;
  // margin:auto;
  border:1px #CCC solid;
  padding:10px;
}

h1 {
  color: lightgreen;
}
